html, body {
    margin: 0;                 
    padding: 0;               
    height: 100%;              
}

.header-links {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    margin: 0px;
}

body {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: lightgray;
    font-size: 18px;
}

.header {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 700px;
    margin-bottom: 60px;
}


/*  */
.upper-middle {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 27px;
}

.header-title {
    font-size: 48px;
    font-weight: 900;
    max-width: 300px;
    margin: 0px;
}

.header-body {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    color: white;
    margin-bottom: 148px;
    gap: 10px;
}

.header-text, .card-text {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 10px;
}

.img-placeholder {
    display: flex;
    background-color: rgb(166, 166, 172);
    width: 510px;
    height: 250px;
    justify-content: center;  /* Center horizontally */
    align-items: center;
    color: white;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    width: 110px;
    height: 25px;
    color: white;
    font-weight: bold;
}

.first-fourth {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

/*  */

.information-header {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.blue-box {
    outline: 5px solid #3882F6;
    height: 200px;
    width: 200px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    font-weight: bold;
    color: rgb(107, 107, 107);
    width: 200px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-bottom: 148px;
}

.card-image {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*  */

.quote {
    font-size: 36px;
    font-style: italic;
    width: 800px;
    color: #1F2937;
}

.author {
    font-size: 20px;
    font-weight: bold;
    padding-left: 550px;
}

.third-fourth {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 148px;
    padding-bottom: 148px;
}

/*  */

.call-to-action {
    background-color: #3882F6;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 150px;
}

.action-header, .action-subtext {
    color: white;
}

.action-header {
    font-size: 20px;
    font-weight: bold;
}

.action-subtext {
    font-size: 18px;
}

.fourth-fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.action-button {
    outline: 3px solid white;
    height: 38px;
    font-weight: 900;
    font-size: 18px;
    width: 130px;
}